html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  background-color: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
}
body{
    font-family: "Onest", sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.container {
    max-width: 1840px;
    padding: 0 10px;
    margin: 0 auto;
}
.header{
    color: #fff;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    background-repeat: no-repeat;
    padding-top:40px;
}

.header__inner{
    display: flex;
    align-items: center;
}


.menu{
    margin-left:160px;
    margin-right:auto;
}

.menu__list{
    display: flex;
    gap: 40px;
}

.menu__lang{
    display: flex;
    margin-right: 105px;
    gap: 5px;
}

.header__btn{
    display: flex;
    flex-direction: column;
    width: 48px;
    gap: 8px;
}

.header__btn span{
    background-color: #fff;
    height: 2px;
}

.top{
    background-image: url(../images/top-bg.jpg);
    height: 100vh;

}

.top__inner{
    padding-top:200px;
    padding-bottom: 50px;
    color:#fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.top__content{
    display: flex;
}
.top__title{
    font-size: 200px;
    font-weight: 700;
    line-height: .85;
}

.top__title span{
display: block;
    margin-left: 200px;
}
.top__slogan{
    margin-left: -20px;
}
.top__text{
    max-width: 368px;
    text-align: right;
    margin-left:auto;
}

.top__info{
    margin-top: auto;
    display: flex;
    align-items: end;
}
.top__info-list{
    display: flex;
    gap: 80px;
    font-weight: 600;
}

.top__info-list dt{
    font-size: 64px;
    line-height: 70px;

}
.top__info-list dd{
    font-size: 32px;
}


.top__explore{
    display: flex;
    margin-left: auto;
    gap: 33px;
    align-items: end;
}

.top__explore-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 130, 251, 0.1) 20.19%, rgba(255, 255, 255, 0.6) 100%);
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    transition: all 1s ease-in-out;
}
.top__explore-btn:hover{
    transform: scale(1.05);
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 130, 251, 0.1) 0%, rgba(0, 130, 251, 0.6) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.top__box{
    width: 320px;
    height: 320px;
    background-color: rgba(5, 12, 60, .5);
    border-radius: 20px;
}

#canvas{
    background-color: transparent;
}
